@import '../../app';

.search-weather {
  display: $displayFlex;
  flex-direction: $flexColumn;
  flex-wrap: $flexWrap;
  width: $width100vw;
  margin-top: $space1rem;

  p {
    font-size: 1.5em;
    text-align: $centerText;
    color: #253858;
  }

  .validation-text {
    color: red;
    text-align: $centerText;
    font-size: 1em;
  }

  &__searching {
    @include flex-content;
    flex-wrap: $flexWrap;

    @media (max-width: 585px) {
      display: $displayFlex;
      flex-direction: $flexColumn;
    }

    input {
      height: 40px;
      width: 300px;
    }

    button {
      margin: 0 0.5rem;
      padding: 0.2rem 2rem;
      font-weight: 600;
      background: $blueBackground;
      border-color: #395FAA;
    }
  }
}
